/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
<<<<<<< HEAD
    background-color: #f9f9f9;
    padding-top: 60px;
=======
    background-color: #fff;
>>>>>>> main
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.container > h1{
    font-size: 25px;
}

/* Header */
.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
    position: fixed;
   
    top: 0; /* Прижимаем к верхнему краю */
    left: 0; /* Прижимаем к левому краю */
    width: 100%; /* Растягиваем на всю ширину */
    z-index: 1000; /* Убедимся, что шапка поверх других элементов */
    padding: 1rem 0;
    display: flex;
    justify-content: center; /* Центрируем содержимое */
=======
>>>>>>> main
    padding: 1rem 0;
    display: flex;
}

.header .nav{
    display: flex;
}

.header .nav .menu__box{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
}

.header .nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e63946;
    text-decoration: none;
}

.header .nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.header .nav a:hover {
    color: #e63946;
}

.header .menu-btn {
    display: none;
    background-color: #e63946;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
}

.account{
    display: flex;
    float: right;
}

/* Hero Section */
.hero {
    background: url('assets/images/main.jpg') no-repeat center center/cover; /*no-repeat center center/cover*/
    color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .order-now {
    background-color: #e63946;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.hero .order-now:hover {
    background-color: #d62839;
}

/* Popular Dishes */
.popular-dishes {
    padding: 3rem 1rem;
    background-color: #fff;
}

.popular-dishes h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.dishes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.card {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-content h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-content p {
    color: #666;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 1rem; /* Отступ снизу 10px, слева и справа 10px */
}

.card-footer .price {
    color: #e63946;
    font-weight: bold;
    font-size: 1.25rem;
}

.card-footer .add-to-cart {
    background-color: #e63946;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-footer .add-to-cart:hover {
    background-color: #d62839;
}

/* About Section */
.about {
    padding-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.about p {
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.menu__box {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu__item {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    transition: color 0.3s;
}

/* Скрываем гамбургер на больших экранах */
.menu__btn,
#menu__toggle {
    display: none;
}

@media (max-width: 575px){
    
    .menu__box {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column; 
        position: fixed;
        padding-top: 25px;
        top: 0;
        left: -100%; /* Скрываем за пределами экрана */
        width: 250px;
        height: 100%;
        background: #ffffff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .menu__item {
        font-size: 20px;
        color: #333;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        transition: all 0.3s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .container > h1{
        font-size: 20px;
    }
}
